@import url('https://fonts.cdnfonts.com/css/inter');

/* General Styles */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
}
.container{
    display: flex;
}
a{
    text-decoration: none;
}

ul{
   list-style: none; 
}

button{
    cursor: pointer;
    border: none;
}

/* Sidebar */

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 296px;
    width: 100%;
    max-height: 1134px;
    height: 100%;
    flex-shrink: 0;
    background-color: #14171F;
    gap: 48px;
    padding: 24px 0;
    align-items: center;
}
/* Logo */
.logo-container{
    display: flex;
    width: 248px;
    padding: 0px 16px 16px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-bottom: 1px solid #3D414B;
}
.logo{
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}
.logo-text{
    color: #FFF;
    font-size: 24px;
    font-weight: 800;
    line-height: 32px; /* 133.333% */
    text-transform: uppercase;
}
/* Account */
.account-container{
    display: flex;
    width: 248px;
    padding: 12px 0px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #7D70BD;
    border-bottom: 1px solid #7D70BD;
}
.avatar{
    display: flex;
    align-items: center;
    gap: 8px;
}
.avatar-text{
    display: flex;
    width: 113px;
    flex-direction: column;
    align-items: flex-start;
}
.avatar-name{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
}
.avatar-subname{
    color: #929699;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}
/* Navigation */
.navigation{
    width: 248px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.navigation-items{
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}
.nav-link{
    color: #929699;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
/* Special Bar */
.specbar{
    display: flex;
    width: 248px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-top: 1px solid #3D414B;
    border-bottom: 1px solid #3D414B;
}
.specbar-items{
    display: flex;
    width: 137px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 32px 0;
}
.specbar-list{
    display: flex;
    align-items: flex-end;
    gap: 12px;
    align-self: stretch;
}
/* Log Out */
.Setting{
    display: flex;
    width: 253px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    border: 1px solid #7B62FF;
    color: #7B62FF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    background-color: #14171F;
}

/* Main Content */
.main-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    margin-top: 24px;
}
.main-section{
    display: flex;
    gap: 32px;
}

/* Header */
.header{
    display: flex;
    max-width: 1080px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.left-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.section-link{
    color: #2F2F2F;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.right-section{
    display: flex;
    align-items: center;
    gap: 10px;
}
.button-mini{
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 600px;
    background: #F7F7F7;
}
.button-img{
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.button-normal{
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid #C7C7C7;
    background: #F7F7F7;
    color: #2F2F2F;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}

/* Main */
.main-container{
    display: flex;
    justify-content: center;
}
.main{
    max-width: 1080px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}
/* Hero */
.hero{
    display: flex;
    width: 1080px;
    height: 228px;
    padding: 0 40px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #C7C7C7;
    background: url("../img/hero.svg") lightgray 50% / cover no-repeat;
}
h1{
    width: 416px;
    color: #2F2F2F;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px; /* 120% */
}
/* Category */
.category{
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
}
.button-category{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid #C7C7C7;
    color: #2F2F2F;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}
.button-category:hover{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid #3D414B;
    background: #14171F;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}
/* Personal Info */
.personal-box{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.personal-information{
    display: flex;
    width: 702px;
    padding: 24px 16px;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    border-radius: 16px;
    border: 1px solid #C7C7C7;
}
.personal-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.personal-left{
    display: flex;
    width: 254px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}
.personal-information-name{
    color: #14171F;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
}
.personal-information-subhead{
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}
.personal-name{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    align-items: center;
}
.personal-name-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
}
.full-name{
    color: #2F2F2F;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
}
.name-text{
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #C7C7C7;
    background: #F9FBFC;
}
.name-text:hover{
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #7B62FF;
    background: #E6E1FF;
    box-shadow: 0px 4px 4px 0px rgba(123, 98, 255, 0.25);
}
.number-index{
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #C7C7C7;
    background: #14171F;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    width: 78px;
}
.number-index::placeholder{
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}
.number-fix{
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}
.mobile-number{
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid #C7C7C7;
    background: #F9FBFC;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}
.birthday-date{
    display: flex;
    height: 48px;
    padding: 12px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #C7C7C7;
    background: #F9FBFC;
}
.button-save{
    display: flex;
    width: 104px;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm, 6px);
    border-radius: 8px;
    background: #7F56D9;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; /* 150% */
    }
/* info conrainer */
.info-section{
    display: flex;
    max-width: 702px;
    width: 100%;
    align-items: center;
    gap: 24px;
}
.info-container{
    display: flex;
    max-width: 432px;
    width: 100%;
    max-height: 272px;
    height: 100%;
    align-items: flex-start;
    gap: 16px;
    flex-shrink: 0;
    align-self: stretch;
}
.info-left{
    display: flex;
    width: 432px;
    padding: 24px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid #C7C7C7;
}
.info-header{
    display: flex;
    align-items: center;
    gap: 116px;
    align-self: stretch;
}
.info-header-text{
    width: 254px;
    align-self: stretch;
    color: #14171F;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
}
.info-bottom{
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 12px;
    background: #F9FBFC;
    gap: 24px;
}
.info-list{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}
.info-items{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}
.info-edit{
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 600px;
    border: 1px solid #C7C7C7;
}
.img-edit{
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.info-category-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}
.info-subhead{
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}
.info-subfoot{
    color: #14171F;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
}
/* Additional Info */
.additional-info{
    display: flex;
    padding: 24px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid #C7C7C7;
    max-width: 246px;
    width: 100%;
    max-height: 272px;
    height: 100%;
}

.additional-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.additional-text{
    color: #14171F;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
}
.resume{
    display: flex;
    height: 80px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}
.resume-text{
    color: #2F2F2F;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
}
.resume-link{
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #C7C7C7;
    background: #F9FBFC;
}
.resume-link::placeholder{
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}
.additional-link{
    display: flex;
    height: 80px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}
.https-box{
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}
.Additional-link-name{
    color: #2F2F2F;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
}
.https{
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid #C7C7C7;
    background: #F9FBFC;
    max-width: 84px;
    width: 100%;
    height: 48px;
}
.https::placeholder{
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}
.link-social{
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #C7C7C7;
    background: #F9FBFC;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}
.link-social:hover{
    display: flex;
    height: 42px;
    padding: 10px 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    display: flex;
    height: 42px;
    padding: 10px 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    background: #D2F0FF;
}
/* My Section */
.my-section{
    display: flex;
    width: 346px;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border-radius: 16px;
    background: #14171F;
}
.my-info{
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 12px;
    background: #FFF;
}
.my-info-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}
.avatar-my{
    width: 124px;
    height: 124px;
    flex-shrink: 0;
    border-radius: 100px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.nav-bt{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.my-info-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}
.tag{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}
.tag-button{
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 50px;
    border: 1px solid #C7C7C7;
    color: #2F2F2F;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}
.my-location{
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 12px;
    background: #FFF;
}
.name-location{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.location-names{
    color: #2F2F2F;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
}
#location{
    display: flex;
    padding: 12px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #C7C7C7;
    background: #F9FBFC;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}
.my-about{
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 12px;
    background: #FFF;
}
.about-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
#about{
    display: flex;
    padding: 12px 16px;
    height: 270px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #C7C7C7;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}
.my-about-name{
    color: #2F2F2F;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
}
.my-about-subname{
    color: #2F2F2F;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
}
.my-name-info{
    color: #2F2F2F;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    align-self: stretch;
}